.todo{
    border-radius: 5px;
    max-width: 230px;
    background-color: #f7eaa8;
    margin: 4px;
    padding: 4px;
}
.todo button{
    background-color: #f7eaa8;
    border: none;
    display: inline;
    float: right;
}
.todo span{
    font-size: small;
}